h1,
h2,
h3,
h4,
p,
button {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

button:hover {
  cursor: pointer;
}

button {
  border: none;
  color: black;
}

body {
  background-color: rgba(241, 242, 243, 1);
  font-family: "Work Sans", monospace;
  font-weight: 300;
}

:has(> svg) {
  display: flex;
  justify-content: center;
  align-items: center;
}

#history-btn {
  height: 40px;
  width: 40px;
  background-color: rgba(218, 218, 218, 1);
  border-radius: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 13%;
}

#history-btn > img {
  width: 60%;
}

.rotating-icon {
  transform: rotate(360deg);
  transition: transform 0.5s ease-in;
}

#history-container {
  position: relative;
  display: flex;
  flex-direction: column;
}

#history {
  padding: 13%;
  opacity: 0;
  position: absolute;
  width: 100%;
  min-height: 600px;
  transform: translateX(-100%);
  top: 0;
  left: 0;
  transition: transform 0.5s ease-in-out;
  display: flex;
  flex-direction: column;
  z-index: 10;
  justify-content: space-between;
  text-wrap: wrap;
}

#history.show {
  transform: translateX(0);
  opacity: 1;
}

#history > h2 {
  font: 500 40px "Work Sans";
  margin-bottom: 24px;
}

#previous-operations {
  font: 300 40px "Work Sans";
  color: rgba(0, 0, 0, 4);
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-height: 600px;
  overflow-y: scroll;
}

#clear-history-btn {
  height: 40px;
  width: 40px;
  background-color: rgba(218, 218, 218, 1);
  border-radius: 34px;
}

.status-bar {
  height: 50px;
}

#operation {
  align-self: flex-end;
  color: rgba(0, 0, 0, 0.4);
  font-size: 40px;
}

#result {
  text-align: end;
  color: black;
  font-size: 96px;
  word-break: break-all;
}
.calculator {
  opacity: 1;
  transition: opacity 0.5s ease;
  display: flex;
  flex-direction: column;
  height: 600px;
  justify-content: end;
  padding: 16px;
}

#calc-btn-container {
  align-self: center;
  display: grid;
  grid-template-columns: repeat(4, 20%);
  grid-template-rows: repeat(5, 15%);
  width: 93%;
  gap: 16px;
  justify-content: center;
  justify-items: center;
}

.calc-btn {
  background-color: white;
  width: 100%;
  min-width: 73px;
  max-width: 108px;
  min-height: 73px;
  border-radius: 48px;
  font: 400 32px "Work Sans";
}

.green-btn {
  background-color: rgba(64, 229, 190, 1);
  color: white;
}

.gray-btn {
  background-color: rgba(210, 211, 218, 1);
}

.equal-btn {
  background-color: black;
  color: white;
}
